<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg" style="margin-bottom: 20px;">
                <h1>
                    Perfomance charts
                </h1>
                <small>
                    It is an application skeleton for a typical web app. You can use it to quickly bootstrap your webapp projects and dev environment.
                </small>
            </div>

            <div class="col-md-6">
                <cpu-chart></cpu-chart>
            </div>
            <div class="col-md-6">
                <memory-chart></memory-chart>
            </div>
            <div class="col-md-6">
                <disk-chart></disk-chart>
            </div>
            <div class="col-md-6">
                <network-chart></network-chart>
            </div>
        </div>
    </div>
</div>