<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-md-7">
                <div class="panel panel-info">
                    <div class="panel-heading ">
                        <small>Last time update: {{last_time }}</small>
                        <button type="button" class="btn btn-info btn-xs pull-right" (click)="refresh()">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="font-size: 10px;">Count</th>
                                        <th style="font-size: 10px;">URL</th>
                                        <th style="font-size: 10px;">Duration</th>
                                        <th style="font-size: 10px;">Queries count</th>
                                        <th style="font-size: 10px;">Max query durations</th>
                                        <th style="font-size: 10px;">Last req</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let p of allRequests">
                                        <td>
                                            <span>{{p.count}}</span>
                                        </td>
                                        <td style="word-break: break-word;">
                                            <b>{{p.url}}</b> 
                                            <p style="font-size: 8px">{{p.method }} {{p.request_code}}</p>
                                        </td>
                                        <td>{{toFixed(p.request_duration)}}</td>
                                        <td>{{p.request_sql_count}}</td>
                                        <td>{{toFixed(p.request_sql_time)}}</td>
                                        <td>{{getDateFromTimestap(p.last_time_request)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- Loading -->
                        <div *ngIf="loading" style="position: absolute;top:0;left:0;width:100%;height:100%;z-index: 100;">
                            <div style="position: absolute;opacity: 0.5;width:100%;height:100%;background-color: white;">
                            </div>
                            <div style="width: 50px;margin: auto;margin-top: 60px;">
                                <i class="fa fa-spin fa-gear" style="font-size: 50px;"></i>
                            </div>
                        </div>
                        <!-- END Loading -->

                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="panel">
                    <div class="panel-body">
                        <div style="text-align: center;padding: 0;">
                            <button type="button" class="btn btn-default btn-xs pull-right" (click)="refresh()">
                                <i class="fa fa-refresh"></i>
                            </button>
                            <div>
                                <canvas baseChart
                                        [datasets]="lineChartData"
                                        [labels]="lineChartLabels"
                                        [options]="lineChartOptions"
                                        [colors]="lineChartColors"
                                        [chartType]="lineChartType"
                                        ></canvas>
                            </div>
                            <div>
                                <canvas baseChart
                                        [datasets]="lineChartTimeData"
                                        [labels]="lineChartLabels"
                                        [options]="lineChartOptions"
                                        [colors]="lineChartTimeColors"
                                        [chartType]="lineChartType"
                                        ></canvas>
                            </div>

                            <h3 style="color: #337ab7">{{ rangeStartDate }} - {{ rangeEndDate }}</h3>
                            <nouislider [min]="dateRangeMin" [max]="dateRangeMax"  [connect]="true" [(ngModel)]="dateRange" (ngModelChange)="onChange($event)" [disabled]="loading" [format]="formatter" [tooltips]="false" [step]="1000"></nouislider>

                            <!-- Loading -->
                            <div *ngIf="loading" style="position: absolute;top:0;left:0;width:100%;height:100%;z-index: 100;">
                                <div style="position: absolute;opacity: 0.5;width:100%;height:100%;background-color: white;">
                                </div>
                                <div style="width: 50px;margin: auto;margin-top: 60px;">
                                    <i class="fa fa-spin fa-gear" style="font-size: 50px;"></i>
                                </div>
                            </div>
                            <!-- END Loading -->
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
